@media only screen and (min-width:0px) {
    .carousel-container img {
        height: 45vh
    }
    .mobile-banner {
        display: block
    }
    .regular-banner {
        display: none
    }
    .banner-text {
        position: relative;
        text-align: center;
        padding: 0;
        width: 100%
    }
    .carousel-cell {
        width: 100%;
        padding: 20px 0
    }
    .display-container {
        display: block
    }
    .category-container {
        display: block
    }
    .create-design-text-inner {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        padding: 20px 0
    }
    .custom-design-text-inner {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        padding: 20px 0
    }
    .custom-design-container {
        display: grid;
        grid-template-columns: 1fr
    }
    .create-design-container {
        display: grid;
        grid-template-columns: 1fr
    }
    .custom-design-full {
        display: none
    }
    .custom-design-mobile {
        display: block
    }
}

@media only screen and (min-width:769px) {
    .carousel-container img {
        height: 80vh
    }
    .mobile-banner {
        display: none
    }
    .regular-banner {
        display: block
    }
    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        text-align: center;
        padding: 0 5%;
        width: 50%
    }
    .display-container {
        display: flex
    }
    .category-container {
        display: flex
    }
    .carousel-cell {
        width: 33.333333%;
        padding: 30px 0
    }
    .custom-design-container {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .custom-design-text-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 0
    }
    .create-design-container {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .create-design-text-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 0
    }
    .custom-design-full {
        display: grid
    }
    .custom-design-mobile {
        display: none
    }
}

@media only screen and (min-width:1024px) {
    .carousel-cell {
        width: 20%;
        padding: 50px 0
    }
}

.item img {
    width: 100%;
    padding: 20px
}

.carousel-container {
    overflow: hidden;
    position: relative
}

.carousel-container img {
    object-fit: cover;
    width: 100%
}

.banner-h1 {
    font-size: 35px;
    color: #d60d8c
}

.banner-p {
    padding: 0 5%
}

.display-container {
    max-width: 1200px;
    margin: auto
}

.display-overflow {
    position: relative;
    overflow: hidden
}

.display-container .display-inner {
    position: relative;
    width: 100%;
    padding: 20px
}

.display-inner figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    background: rgba(214, 13, 140);
    font-weight: 700;
    z-index: 2
}

.hover-bkg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff9edb;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .2s
}

.hover-bkg:hover {
    opacity: .4
}

.display-container img {
    width: 100%;
    border: solid 1px #e6e6e6
}

.display-container figcaption {
    text-align: center;
    font-size: 20px
}

.diamond-title {
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #fff2fa
}

.ring-title {
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff2fa
}

.create-design-container {
    display: grid
}

.create-design-text {
    position: relative;
    background: radial-gradient(circle at 53% 90%, rgba(165, 165, 165, .03) 0, rgba(165, 165, 165, .03) 50%, rgba(32, 32, 32, .03) 50%, rgba(32, 32, 32, .03) 100%), radial-gradient(circle at 71% 74%, rgba(191, 191, 191, .03) 0, rgba(191, 191, 191, .03) 50%, rgba(68, 68, 68, .03) 50%, rgba(68, 68, 68, .03) 100%), radial-gradient(circle at 70% 13%, rgba(74, 74, 74, .03) 0, rgba(74, 74, 74, .03) 50%, rgba(116, 116, 116, .03) 50%, rgba(116, 116, 116, .03) 100%), radial-gradient(circle at 83% 61%, rgba(13, 13, 13, .03) 0, rgba(13, 13, 13, .03) 50%, rgba(27, 27, 27, .03) 50%, rgba(27, 27, 27, .03) 100%), linear-gradient(135deg, #b0319c, #fb0f63);
    color: #fff;
    text-align: center
}

.create-design-container .create {
    font-size: 35px
}

.create-design-container .engagement {
    font-size: 35px
}

.create-design-text button {
    border: 1px #fff solid;
    background: #d60d8c;
    padding: 5px 10px;
    margin: 5px;
    outline: 0;
    border-radius: 3px;
    color: #fff
}

.create-design-container img {
    height: 60vh;
    object-fit: cover;
    width: 100%
}

.custom-design-text {
    position: relative;
    background: radial-gradient(circle at 53% 90%, rgba(165, 165, 165, .03) 0, rgba(165, 165, 165, .03) 50%, rgba(32, 32, 32, .03) 50%, rgba(32, 32, 32, .03) 100%), radial-gradient(circle at 71% 74%, rgba(191, 191, 191, .03) 0, rgba(191, 191, 191, .03) 50%, rgba(68, 68, 68, .03) 50%, rgba(68, 68, 68, .03) 100%), radial-gradient(circle at 70% 13%, rgba(74, 74, 74, .03) 0, rgba(74, 74, 74, .03) 50%, rgba(116, 116, 116, .03) 50%, rgba(116, 116, 116, .03) 100%), radial-gradient(circle at 83% 61%, rgba(13, 13, 13, .03) 0, rgba(13, 13, 13, .03) 50%, rgba(27, 27, 27, .03) 50%, rgba(27, 27, 27, .03) 100%), linear-gradient(135deg, #b0319c, #fb0f63);
    color: #fff;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center
}

.custom-design-container .create {
    font-size: 35px
}

.custom-design-container .engagement {
    font-size: 35px
}

.custom-design-text button {
    border: 1px #fff solid;
    background: #d60d8c;
    padding: 5px 10px;
    margin: 5px;
    outline: 0;
    border-radius: 3px;
    color: #fff
}

.custom-design-container img {
    height: 60vh;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%
}

.category-container {
    max-width: 1200px;
    margin: auto
}

.category-container .display-inner {
    position: relative;
    width: 100%;
    padding: 20px
}

.category-container img {
    width: 100%;
    border: solid 1px #e6e6e6
}

.category-container figcaption {
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    background: rgba(214, 13, 140);
    font-weight: 700;
    z-index: 2
}

.carousel-cell img {
    width: 100%;
    padding: 0 20% 20px
}

.hidden-pic {
    display: none
}

.seller-title {
    text-align: center;
    display: none;
    font-size: 20px
}

.seller-description {
    text-align: center;
    display: none
}

.gem-title {
    text-align: center;
    display: none;
    font-size: 20px
}

.gem-description {
    text-align: center;
    display: none
}

.is-selected .gem-title,
.is-selected .seller-title {
    display: block
}

.is-selected .gem-description,
.is-selected .seller-description {
    display: block
}

.main-brand .carousel-cell img {
    padding: 20px 20% 20px!important
}

.carousel-gabriel {
    padding: 65px 0!important
}
